@import "tailwindcss";
/* Add custom styles if needed */

html {
  --bg-color: #ffffff; /* Light background color */
  --text-color: #000000; /* Dark text color */
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
